
/* 
    ! Opmerking: Ik ga geen styling toevoegen voor de dropdown/select fields zodat het overeenkomt met het design.
    Dit is omdat het standaard al oke is, en het overschrijven van de standaard styling
    kost me veel lijnen aan CSS. Dit zorgt ervoor dat de code 'bloated' word.
    Het lijkt me logisch om dit dus over te slaan en de belangrijke kenmerken van de code te laten uitblinken.
*/

.collection {
    max-height: calc(100vh - 139px);
    overflow: auto;
}
.collection__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.collection__filter-title {
    font-size: 24px;
    font-weight: 800;
}


/* === Filters === */
.collection__filters {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
}
.collection-filter__dropdown *, .collection-filter__amount * {
    font-size: 18px;
    padding: 2px;
}
.collection-filter__apply {
    /* Dit zorgt ervoor dat het rechts blijft, in het geval van display flex */
    margin-right: 0;
    margin-left: auto;

    background-color: #00AC0B;
    color: white;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .collection__filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .collection-filter__dropdown *, .collection-filter__amount * {
        font-size: 16px;
    }
    .collection-filter__apply {
        margin-right: 0;
        margin-left: 0;
    }
}


/* === Books === */
#collection__books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection-book {
    width: calc(20% - 16px);
    margin-bottom: 24px;
}
.collection-book__image {
    width: 100%;
    aspect-ratio: 6/9; /* Standaard aspect-ratio van boeken volgens ChatGPT: Prompt: 'Wat is de gemiddelde aspect ratio van een boek cover?' */
    background-size: cover;
    background-position: center;
}
.collection-book__content {
    background-color: #1a1a1a;
    color: white;
    margin-top: -5px;
    padding: 12px;
}
.collection-book__title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 6px;
}
.collection-book__author, .collection-book__rating {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}
.collection-book__author span, .collection-book__rating span {
    font-weight: 800;
}
.collection-book__rating {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .collection-book {
        width: calc(50% - 16px);
    }
}


/* === Pagination === */
#collection__paging {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}
.collection-paging {
    font-size: 24px;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.collection-paging__inactive.collection-paging__current, .collection-paging__current { /* ziet er misschien raar uit, maar komt door de volgorde van classes door de JS. Ik kan het in het echt beter onderbouwen als het nodig is */
    background-color: #2E2E2E;
    color: white;
}

.collection-paging__inactive {
    background-color: #EAEAEA;
    color: #2E2E2E;
    border: #8F8F8F 2px solid;
}