/* Importeer de font uit google webfonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset alle paddings en margins in het document, irritant */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box; /* Zorgt ervoor dat paddings niet buiten de div vallen */
}
html, body {
    height: 100%;
}

/* Reset button styling zodat ik vanaf scratch kan aanpassen, want de standaard styling is irritant */
button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}


/* Overige utility classes voor spacings etc */
.spacing {
    padding: 0 24px;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 60px auto;
}